LANGUAGE LANG_LATVIAN, SUBLANG_LATVIAN_LATVIA

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_PROPPAGE_SELECT_DEVICE DIALOGEX 0, 0, 380, 156
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    LTEXT           "Ðis rîks nodroðina iespçju izveidot atkopðanas SD karti vai USB atmiòas karti Chromebook piezîmjdatora atjaunoðanai.",IDC_INTRO_TEXT,7,7,247,20
    LTEXT           "Izvçlieties savu Chromebook piezîmjdatora modeli.",IDC_STATIC,7,33,366,10
    CONTROL         "",IDC_DEVICES_LIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP,7,53,366,100
    COMBOBOX        IDC_LANGUAGES,258,7,115,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
END

IDD_PROPPAGE_SELECT_USB DIALOGEX 0, 0, 380, 156
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    LTEXT           "Ðis rîks nodroðina iespçju izveidot atkopðanas SD karti vai USB atmiòas karti Chromebook piezîmjdatora atjaunoðanai.",IDC_STATIC,7,7,366,20
    LTEXT           "Izvçlieties, kuru noòemamo atmiòas ierîci izmantosiet.",IDC_STATIC,7,33,366,10
    CONTROL         "",IDC_USB_LIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP,7,53,366,80
    ICON            "",IDC_WARNING_ICON,7,138,21,20,SS_CENTERIMAGE
    LTEXT           "Ðeit parâdâs brîdinâjuma teksts. Faktiskais teksts tiek noteikts izpildes laikâ.",IDC_WARNING_TEXT,35,145,338,13
END

IDD_DOWNLOAD_CONFIG DIALOGEX 0, 0, 249, 89
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Notiek Chrome OS atkopðanas konfigurâciju lejupielâde...",IDC_MESSAGE,7,7,235,17
    LTEXT           "Statuss",IDC_STATUS,7,30,235,10
    CONTROL         "",IDC_PROGRESS,"msctls_progress32",WS_BORDER,7,40,235,14
    LTEXT           "Atlikuðais laiks:",IDC_TIME_REMAINING,7,56,235,10
    PUSHBUTTON      "Atcelt",IDCANCEL,192,68,50,14
END

IDD_ERASE_CONFIRM DIALOGEX 0, 0, 237, 89
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Dzçst",IDOK,126,68,50,14
    PUSHBUTTON      "Nedzçst",IDCANCEL,180,68,50,14
    LTEXT           "Dzçst izpildes laikâ iestatîto ziòojuma apstiprinâjumu",IDC_CONFIRM_MSG,38,7,192,29
    ICON            "",IDC_WARNING_ICON,7,7,21,20,SS_REALSIZEIMAGE
    LTEXT           "Visi tajâ esoðie dati tiks neatgriezeniski zaudçti. Ðo darbîbu nevar atsaukt.",IDC_STATIC,38,42,192,17
END

IDD_PROPPAGE_FINISH DIALOGEX 0, 0, 380, 156
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    LTEXT           "Ðis rîks nodroðina iespçju izveidot atkopðanas SD karti vai USB atmiòas karti Chromebook piezîmjdatora atjaunoðanai.",IDC_STATIC,7,7,366,20
    ICON            IDI_CHECKMARK,IDC_STATIC,50,75,23,22,SS_REALSIZEIMAGE
    LTEXT           "Datu nesçjs ir gatavs. Tagad varat to izòemt no sistçmas.",IDC_COMPLETION_MESSAGE,70,78,283,10
    LTEXT           "link-to-how-to-use",IDC_HOW_TO_USE_LINK,7,51,366,8,NOT WS_VISIBLE
END

IDD_PROPPAGE_PROGRESS DIALOGEX 0, 0, 380, 156
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    LTEXT           "Ðis rîks nodroðina iespçju izveidot atkopðanas SD karti vai USB atmiòas karti Chromebook piezîmjdatora atjaunoðanai.",IDC_STATIC,7,7,366,20
    LTEXT           "Ziòojums tiek iestatîts izpildes laikâ.",IDC_MESSAGE,7,33,366,10
    LTEXT           "Statuss",IDC_STATUS,50,65,280,10
    CONTROL         "",IDC_PROGRESS,"msctls_progress32",WS_BORDER,50,76,280,14
    LTEXT           "Atlikuðais laiks:",IDC_TIME_REMAINING,50,92,280,10
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_PROPPAGE_SELECT_DEVICE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 473
        TOPMARGIN, 7
        BOTTOMMARGIN, 143
        HORZGUIDE, 43
        HORZGUIDE, 123
    END

    IDD_PROPPAGE_SELECT_USB, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 473
        TOPMARGIN, 7
        BOTTOMMARGIN, 143
        HORZGUIDE, 43
        HORZGUIDE, 123
    END

    IDD_DOWNLOAD_CONFIG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 242
        TOPMARGIN, 7
        BOTTOMMARGIN, 82
    END

    IDD_ERASE_CONFIRM, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 230
        VERTGUIDE, 38
        TOPMARGIN, 7
        BOTTOMMARGIN, 82
    END

    IDD_PROPPAGE_FINISH, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 473
        TOPMARGIN, 7
        BOTTOMMARGIN, 143
    END

    IDD_PROPPAGE_PROGRESS, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 473
        TOPMARGIN, 7
        BOTTOMMARGIN, 143
        HORZGUIDE, 43
        HORZGUIDE, 123
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDR_MAINFRAME ACCELERATORS
BEGIN
    "N",            ID_FILE_NEW,            VIRTKEY, CONTROL
    "O",            ID_FILE_OPEN,           VIRTKEY, CONTROL
    "S",            ID_FILE_SAVE,           VIRTKEY, CONTROL
    "P",            ID_FILE_PRINT,          VIRTKEY, CONTROL
    "Z",            ID_EDIT_UNDO,           VIRTKEY, CONTROL
    "X",            ID_EDIT_CUT,            VIRTKEY, CONTROL
    "C",            ID_EDIT_COPY,           VIRTKEY, CONTROL
    "V",            ID_EDIT_PASTE,          VIRTKEY, CONTROL
    VK_BACK,        ID_EDIT_UNDO,           VIRTKEY, ALT
    VK_DELETE,      ID_EDIT_CUT,            VIRTKEY, SHIFT
    VK_INSERT,      ID_EDIT_COPY,           VIRTKEY, CONTROL
    VK_INSERT,      ID_EDIT_PASTE,          VIRTKEY, SHIFT
    VK_F6,          ID_NEXT_PANE,           VIRTKEY 
    VK_F6,          ID_PREV_PANE,           VIRTKEY, SHIFT
END


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "ChromeOSRecovery modulis"
            VALUE "FileVersion", "1, 0, 0, 1"
            VALUE "InternalName", "ChromeOSRecovery"
            VALUE "LegalCopyright", "Autortiesîbas 2011"
            VALUE "OriginalFilename", "ChromeOSRecovery.exe"
            VALUE "ProductName", "ChromeOSRecovery modulis"
            VALUE "ProductVersion", "1, 0, 0, 1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_CHROMEOSRECOVERY    "Izveidot Chrome OS atkopðanas datu nesçju"
END

STRINGTABLE
BEGIN
    IDS_STATUS_RESOLVING_NAME "Notiek resursdatora %s atrisinâðana..."
    IDS_STATUS_NAME_RESOLVED "Resursdators %s atrisinâts"
    IDS_STATUS_CONNECTING_TO_SERVER "Notiek savienojuma izveide ar serveri %s..."
    IDS_STATUS_CONNECTED_TO_SERVER "Izveidots savienojums ar serveri %s"
    IDS_STATUS_CLOSING_CONNECTION "Tiek pârtraukts savienojums ar serveri %s..."
    IDS_STATUS_CONNECTION_CLOSED "Savienojums ar serveri %s pârtraukts"
    IDS_STATUS_SENDING_REQUEST "Notiek pieprasîjuma sûtîðana..."
    IDS_STATUS_REQUEST_SENT "Pieprasîjums nosûtîts"
    IDS_STATUS_REQUEST_ERROR "Pieprasîjuma kïûda"
    IDS_STATUS_REDIRECT     "Notiek novirzîðana..."
    IDS_STATUS_DOWNLOADING  "Lejupielâdçti %s no %s"
    IDS_STATUS_DOWNLOAD_COMPLETE "Lejupielâde pabeigta"
    IDS_STATUS_SENDREQUEST_COMPLETE "Pieprasîjums sekmîgi izpildîts"
END

STRINGTABLE
BEGIN
    IDS_DOWNLOADING_CONFIG  "Notiek Chrome OS atkopðanas konfigurâciju lejupielâde..."
    IDS_DOWNLOADING_RECOVERY_IMAGE "Notiek atkopðanas attçla lejupielâde..."
    IDS_WRITING_RECOVERY_IMAGE "Notiek atkopðanas attçla rakstîðana..."
    IDS_WRITING_IMAGE       "Uzgaidiet, kamçr attçls tiks ierakstîts jûsu USB diskâ."
END

STRINGTABLE
BEGIN
    IDS_DEVICES_LIST_COLUMN_NAME "Ierîce"
    IDS_DEVICES_LIST_COLUMN_DESC "Apraksts"
    IDS_LOCAL_IMAGE              "Lokâlais attçls"
END

STRINGTABLE
BEGIN
    IDS_USB_LIST_COLUMN_NAME "Nosaukums"
    IDS_USB_LIST_COLUMN_SIZE "Lielums"
END

STRINGTABLE
BEGIN
    IDS_ERASE_CONFIRMATION_FORMAT "No %s tiks dzçsti visi faili."
    IDS_DEVICE_TOO_SMALL_WARNING_FORMAT 
                            "Ierîces ietilpîba ir %s. Ievietojiet SD karti vai USB atmiòas karti ar ietilpîbu 4 GB vai vairâk."
END

STRINGTABLE
BEGIN
    IDS_STATUS_UNZIPPING    "Atpakots %s no %s"
    IDS_STATUS_UNZIP_COMPLETE "Atpakoðana pabeigta"
END

STRINGTABLE
BEGIN
    IDS_STATUS_VERIFYING    "Verificçts %s no %s"
END

STRINGTABLE
BEGIN
    IDS_STATUS_WRITING      "Nokopçts %s no %s"
END

STRINGTABLE
BEGIN
    IDS_CONFIRM_CANCEL      "Vai tieðâm vçlaties atcelt Chrome OS atkopðanas attçla izveidi?"
END

STRINGTABLE
BEGIN
    IDS_ERROR_INTERNAL      "Radusies iekðçja kïûda."
    IDS_ERROR_FAILED_OPEN_FILE "Neizdevâs atvçrt failu %s (%d)."
    IDS_ERROR_FAILED_READ_FILE "Neizdevâs lasît no faila %s (%d)."
    IDS_ERROR_FAILED_WRITE_FILE "Neizdevâs rakstît failâ %s (%d)."
    IDS_ERROR_CANNOT_FIND_FILE_IN_ZIP 
                            "Nevar atrast failu %s lejupielâdçtajâ zip failâ (%d)."
    IDS_ERROR_FAILED_UNZIP_FILE "Neizdevâs atarhivçt failu %s (%d)."
    IDS_ERROR_FAILED_CONNECT "Neizdevâs izveidot savienojumu ar %s:%d (%d)."
    IDS_ERROR_FAILED_GET    "Neizdevâs izgût %s (%d)."
    IDS_ERROR_FAILED_SEND_REQUEST "Neizdevâs nosûtît pieprasîjumu (%d)."
    IDS_ERROR_FAILED_DOWNLOAD "Neizdevâs lejupielâdçt attçlu ( %d)."
    IDS_ERROR_IMAGE_NOT_AVAIL 
                            "Atkopðanas attçls paðlaik nav pieejams (%d)."
    IDS_ERROR_FAILED_VERIFY "Lejupielâdçtais attçls ir bojâts (%d)."
    IDS_ERROR_ASYNC_WAIT_FAILED 
                            "Gaidot asinhronus ievadizvades pieprasîjumus failam %s, radâs kïûda (%d, %d)."
    IDS_RECOVERY_TOOL_UPDATE_NEEDED "%s"
END

STRINGTABLE
BEGIN
    IDS_USB_LIST_INSERT_DISK 
                            "Ievietojiet SD karti vai USB atmiòas karti. Ierîces ietilpîbai jâbût 4 GB vai vairâk."
END

STRINGTABLE
BEGIN
    IDS_TIME_REMAINING_FORMAT "Atlikuðais laiks: %s"
    IDS_TIME_REMAINING_CALCULATING "Notiek aprçíinâðana..."
    IDS_DAY                 "diena"
    IDS_DAYS                "dienas"
    IDS_HOUR                "stunda"
    IDS_HOURS               "stundas"
    IDS_MINUTE              "minûte"
    IDS_MINUTES             "minûtes"
END

STRINGTABLE
BEGIN
    IDS_SECOND              "sekunde"
    IDS_SECONDS             "sekundes"
END

STRINGTABLE
BEGIN
    IDS_LOG_FILE_LOCATION_FORMAT 
                            "Plaðâka informâcija ir pieejama þurnâlfailâ. Pirms ðîs lietojumprogrammas aizvçrðanas noteikti nokopçjiet failu.\r\n\r\n%s"
END
